/*Colors and fonts */
body{
background: rgb(230,230,230);
color: rgb(50,50,50);
font-family: monospace;
font-size: 17px;
}
h1,h2,h3{
	font-family: sans-serif;
}
h1{
	color: black;
	font-size: 32px;
}
h2{
	color: rgb(20,20,20);
	font-size: 25px;
	font-weight: all;
}
a{
	text-decoration: none;
	color: red;
	font-style: italic;
	font-variant: normal;
}
a:hover{
	color: grey;
}
a:link {
	text-decoration: none;
}

/*Custom design with class (99% of your design) */
.container {
width: 700px;
margin: 40px auto;
}
.card-white {
	background-color: white ;
	padding:40px;
	box-shadow:0px 10px 30px rgba(0,0,0,0,1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-red {
	background-color:red;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	display: inline-block;
	margin-top: 40px;
}
.btn-red:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: black;
}


/* deign adjustements using id (1% design remaining) */;
#introduction p {
	margin-bottom: 40px;
}